@model IEnumerable<Corsi> // serve per farmi apparire i suggerimenti sulle colonne della tabella corsi
@{
	ViewData["Title"] = "Index";
}

<h1>Gestione Corsi</h1>

<p>
	<a class="text-decoration-none fw-bold" asp-action="NuovoCorso">Crea nuovo corso</a>
</p>

<table class="table table-bordered mt-4">

	<tr>
		<th>ID</th>
		<th>Titolo</th>
		<th>Durata</th>
		<th>Scaletta</th>
		<th>Costo</th>
	</tr>

	@foreach (var item in Model)
	{
			<tr>
				<td>@item.Idcorso</td>
				<td>@item.Titolo</td>
				<td>@item.Durata minuti</td>
				<td>@item.Scaletta</td>
				<td>@string.Format("{0:0.00}", item.Costo) €</td>
				<td><a class="text-decoration-none fw-bold" asp-action="EditCorso" asp-route-id="@item.Idcorso">Edit</a></td>
			</tr>
	}
</table>
