
@{
    ViewData["Title"] = "ElencoCorsi";
}

<h1>Elenco Corsi Api</h1>

<hr class="my-3" />

<table class="table table-bordered border border-2 border-dark">

	<tr class="bg-dark text-light border-light">
		<th>ID</th>
		<th>Titolo</th>
		<th>Durata</th>
		<th>Scaletta</th>
		<th>Costo</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr class="bg-light align-middle">
			<td>@item.Idcorso</td>
			<td>@item.Titolo</td>
			<td>@item.Durata minuti</td>
			<td>@item.Scaletta</td>
			<td>@string.Format("{0:0.00}", item.Costo) €</td>
		</tr>
	}
</table>

